table, th, td {
    border:1px solid black;
    padding: 2px;
  }

table.table-pricing{
    margin-top: 20px;
}

section.day1{
  background-color: aliceblue;
}

section.day2{
  background-color: antiquewhite;
}